@model BreakDanceBattles.Web.ViewModels.Competitions.HomeCompetitionsViewModel
@{
    this.ViewData["Title"] = "Home Page";

    var monday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday);
    var sunday = monday.AddDays(7);


}
<h1 class="d-flex justify-content-center">Battles this week</h1>
<hr />  
<div class="d-flex justify-content-between ">
    <div class="col col-lg-3 " style="margin-right: 1rem;">
        <table class="table rounded" style="background-color:#061114; color: white">
            <tbody>
                <tr>
                    <td>All Battles:</td>
                    <td>@Model.CompetitionsCount</td>
                </tr>
                <tr>
                    <td>Battles Today:</td>
                    <td>@Model.CompetitionsToday</td>

                </tr>
                <tr>
                    <td>Upcoming Battles:</td>
                    <td>@Model.UpcomingCompetitions</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">

        @foreach (var competition in Model.Competitions)
        {
            if (competition.DateTime >= monday && competition.DateTime <= sunday)
            {
                var categories = "";
                foreach (var category in competition.Categories)
                {
                    categories += category.CategoryName + " ";
                };

                <div class="col col-md-auto card p-1 m-1"  style="width: 17rem;">
                    <img src="@competition.ImageUrl" class="card-img-top" alt="..." style="width:auto;height:10rem">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"><a asp-controller="Competitions" asp-action="ById" asp-route-id="@competition.Id">@competition.Name</a></h5>
                        <p class="card-text d-flex justify-content-center">@categories</p>
                        <p class="card-text d-flex justify-content-center ">@competition.CountryName</p>
                        <p class="card-text d-flex justify-content-center">@competition.DateTime</p>
                        <a asp-controller="Competitions" asp-action="ById" asp-route-id="@competition.Id" class="btn btn-primary d-flex justify-content-center">More Info</a>
                    </div>
                </div>
            }
        }

    </div>
</div>