@model BreakDanceBattles.Web.ViewModels.Competitions.CompetitionListViewModel
@{

    this.ViewData["Title"] = "All Competitions, Page...";

}      <h1> @this.ViewData["Title"]</h1>

<hr />
<div class="row">



    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Categories</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        @foreach (var competition in this.Model.Competitions)
        {
            var categories = ""; 
            foreach (var category in competition.Categories)
            {
                categories += category.CategoryName + " ";
            };
            <div class="table_hoover">
                <tbody>
                    <tr class="table">
                        <th scope="row">@competition.DateTime.Date</th>
                        <td><a asp-action="ById" asp-route-id="@competition.Id">@competition.Name</a></td>
                        <td>@categories</td>
                        <td>@competition.CountryName</td>
                    </tr>
                </tbody>
            </div>

        }
    </table>
</div>

<hr />
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>