@model BreakDanceBattles.Web.ViewModels.Competitions.SingleCompetitionViewModel
<!DOCTYPE html>

@{ 
    this.ViewData["Title"] = Model.Name;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @{var categories = ""; }
    @foreach (var category in Model.Categories)
    {
        categories += category.CategoryName + " ";
    }


    <div class="container">
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="@Model.ImageUrl" alt="">
            </div>

            <div class="col-lg-5">
                <h1 class="font-weight-light">@Model.Name</h1>
                <h2>@categories</h2>
                <p>@Model.Description</p>
                <div class="actions d-flex justify-content-start">
                    <a asp-controller="Competitions" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary" >Edit</a>

                        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                        </form>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>

                </div>
            </div>
        </div>

        <hr />

        <div class="">
            <div class=" d-flex justify-content-between">
                <div class="more_info">
                    @Model.CountryName
                </div>
                <div class="more_info">
                    @Model.DateTime
                </div>
                <div class="more_info">
                    @Model.AddedByUserUserName
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>