@model BreakDanceBattles.Web.ViewModels.Competitions.CompetitionListViewModel
@{
}
<h1>My Competitions</h1>
<div class="row">
    @foreach (var competition in this.Model.Competitions)
    {
        var categories = "";
        foreach (var category in competition.Categories)
        {
            categories += category.CategoryName + " ";
        };
        <div class="card" style="width: 17.5rem;">
            <img src="@competition.ImageUrl" class="card-img-top" alt="..." style="width:17.5rem;height:10rem">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="ById" asp-route-id="@competition.Id">@competition.Name</a></h5>
                <p class="card-text">@categories</p>
                <p class="card-text">@competition.CountryName</p>
                <p class="card-text">@competition.DateTime</p>
                <a asp-action="ById" asp-route-id="@competition.Id" class="btn btn-primary">More Info</a>
            </div>
        </div>

    }
</div>