@using System.Security.Claims
@model BreakDanceBattles.Web.ViewModels.Messages.MessageListViewModel
@{
    this.ViewData["Title"] = "Messages For Admin";

}
<div class="p-5 m-1 rounded" style="background-color: #Def2f1">
    <h1 class="d-flex justify-content-center">@this.ViewData["Title"]</h1>
    <hr />  
    <div class="row">



        <table class="table rounded table-hover table-striped " style="background-color:#061114; color: white">

            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Sender</th>
                </tr>
            </thead>

            @foreach (var message in Model.Messages)
        {
            <div class="hover-title">
                <tbody>
                    <tr class="table">
                        <th><a asp-action="ById" asp-route-id="@message.Id" class="text-light"><div class="hover-title">@message.Subject</div></a></th>
                        <td class="text-light"><a asp-action="ById" asp-route-id="@message.Id" class="text-light"><div class="hover-title">@message.MessageContent.Substring(0, 100) ...</div></a></td>
                        <td class="text-light"><a asp-action="ById" asp-route-id="@message.Id" class="text-light"><div class="hover-title">@message.AddedByUser.Email</div></a></td>
                    </tr>
                </tbody>
            </div>

        }
        </table>
    </div>
</div>



